<div class="container-wrapper">
  <div>
    <ul class="nav-custom">
      <li>
        <img src="./assets/images/r-3-l-logo-application-02.png" class="logo">
      </li>
      <li class="user-detail-wrapper">
        Admin Name
        <img src="./assets/images/shape.png" class="mt-5">
      </li>
    </ul>
  </div>
</div>
<div class="side-navbar">
  <ul>
    <li>
      Navigate
    </li>
    <li class="line">

    </li>
    <li routeLinkActive="activeNav">
      <a routerLink="/analytics" class="nav-elements">
        <img src="./assets/images/analitycs.png" class="nav-image">  Analytics
      </a>
    </li>
    <li routeLinkActive="activeNav">
      <a routerLink="/news" class="nav-elements">
        <img src="./assets/images/newspaper-o.png" class="nav-image"> News
      </a>
    </li>
    <li routeLinkActive="activeNav">
      <a routerLink="null" class="nav-elements">
        <img src="./assets/images/board-brief.png" class="nav-image">  Board Brief
      </a>
    </li>
    <li routeLinkActive="activeNav">
      <a routerLink="null" class="nav-elements">
        <img src="./assets/images/briefcase.png" class="nav-image">  Briefcase
      </a>
    </li>
  </ul>
</div>
<div class="dynamic-wrapper">
  <router-outlet></router-outlet>
</div>